// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

body
  +display(flex)
  // min-height: 100vH
  section
    min-height: 100vH
    min-width: 100vW
  .splash
    @include outer-container()
    @include display(flex)
    @include align-items(center)
    @include flex-direction(column)
    @include justify-content( flex-start)
    .message
      margin: 10% auto
      @include flex(1)
      text-align: center
      font-size: 2em
      color: grayscale(#888)
      text-transform: lowercase

    .fa-spinner
      @include flex(1)
      font-size: 5em

  .page-host
    .reasons, .who
      +align-items(center)
      .words
        +flex(1 0 100%)
        width: 80%
        margin: auto
        h3
          margin-bottom: 2em
      .cards
        padding: 1em
        width: 80%
        margin: auto
        +flex(1 0 100%)
        color: $color-5
        font-size: 1.2rem
        .card
          min-width: 16rem
      .listimage
        @include flex(.75)
        min-width: 300px
        margin: 1em
        padding: 1em
        // img
        //   margin: 0.67em 0
        //   max-width: 100%
        //   height: auto
    .contact
      text-align: center
      +align-content(center)
      background-color: $color-3
      color: $color-1
      svg
        use
          fill: currentColor
    .welcome
      $landing-background-top: rgba(0,0,0,0.8)
      $landing-background-bottom: rgba(0,0,0,0.2)
      $landing-color: $color-6
      $gradient-angle: 0deg
      $landing-image: "/images/team.jpg"
      // +background-image(url($landing-image))
      +background(linear-gradient($gradient-angle, $landing-background-bottom, $landing-background-top), url($landing-image), no-repeat $landing-background-top scroll)
      background-size: cover
      background-repeat: no-repeat
      background-position: center center
      +display(flex)
      +flex-direction(column)
      +align-items(center)
      +justify-content(flex-start)
      .hey
        +display(flex)
        +flex-direction(column)
        +align-items(center)
        +justify-content(space-around)
        color: $landing-color
        padding: 2em
        h1
          +flex(1)
          +flex-basis(100%)
          text-align: center
          font-size: 3.0em
          letter-spacing: .10em
        .info
          +flex(1)
          width: 80%
          text-align: center
          font-size: 1.1em
          font-weight: bold
      .next
        +display(flex)
        +flex-direction(column)
        +align-items(center)
        +justify-content(flex-end)
        +flex(1)
        margin-bottom: 2em

        a
          +bounce-to-right()

/* animate page transitions

section.au-enter-active
  -webkit-animation: fadeInRight 500ms
  animation: fadeInRight 500ms

div.au-stagger
  /* 50ms will be applied between each successive enter operation
  -webkit-animation-delay: 100ms
  animation-delay: 100ms
  width: 100%

.card-container
  &.au-enter
    opacity: 0 !important
  &.au-enter-active
    -webkit-animation: fadeIn 500ms
    animation: fadeIn 500ms

/* animation definitions
@-webkit-keyframes fadeInRight
  0%
    opacity: 0
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)

  100%
    opacity: 1
    -webkit-transform: none
    transform: none


@keyframes fadeInRight
  0%
    opacity: 0
    -webkit-transform: translate3d(100%, 0, 0)
    -ms-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)

  100%
    opacity: 1
    -webkit-transform: none
    -ms-transform: none
    transform: none


@-webkit-keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1


@keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1

+keyframes(scaleUp)
  from
    +transform(scale(1))
  to
    +transform(scale(1.2))
