$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default
$text-color: #222 !default
$brand-color: #E50050 !default
$light-grey: #EDEDED !default
$mid-grey: #999 !default
$dark-grey: #444 !default
$max-width: 1200px !default
$base-url: '/assets/' !default

// colors

$color-1: #83b0b9

// Neptune
$color-2: #d35657

// Chestnut Rose
$color-3: #343943

// Tuna
$color-4: #e4b162

// Equator

$color-5: #131519

// Woodsmoke
$color-6: white

// fonts

$primary-font: "PT Sans", sans-serif

//animation

$animation-duration: 0.5s
