// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

#mike
    fill: white
#checkmark
    fill: green
.icon
    fill: white

.next
